<br>
  <h3>List of Seached Applicants</h3>
  <p><%=resumee.length%> Match Found!</p>
    <% for(var i=0; i<resumee.length; i++) { %>
    <div> <a href="/ViewApplicant/<%=resumee[i]._id%>"> <%= resumee[i].fname %> <%= resumee[i].lname %></a></div>
    <p> Title: <%= resumee[i].title%> <br>
    Email: <%= resumee[i].email%> <br>
    Company: <%= resumee[i].company%></p>
    <hr>
    <% } %>
    
    
    