

<div class="container">
      <h3>Showing all applicants</h3>
     
      <table class="table table-hover" id="applicants_table">
          <thead>
              <tr>
                  <td>Name</td>
                  <td> Image </td>
                  <td>Title</td>
                  <td>Company</td>
                  <td>Test Authorization</td>
                  <td> Action </td>

              </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<resumee.length; i++) { %>
              <tr>
                  <td>  <%= resumee[i].fname %> <%= resumee[i].lname %> </td>
                  <td><img src="/images/employee.png" alt="EMPLOYEE default" height="42" width="42"></td>
                  <td style="width:70px">  <%= resumee[i].title %> </td>
                  <td>  <%= resumee[i].company %></td>
                  <td>  <%= resumee[i].authorization %></td>
                  <td> 
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#details_modal" 
                                onclick="load_details(' <%= resumee[i].fname %> <%= resumee[i].lname %>','<%= resumee[i].email %>','<%= resumee[i]._id %>','<%= resumee[i].marks %>','<%= resumee[i].authorization %>','<%= resumee[i].testStatus %>')">
                              <span class="glyphicon glyphicon-eye-open"></span> View
                            </button>
                  </td>

              </tr>
             <%}%>

          </tbody>
      </table>
</div>


    <script>
        $(function(){
            $("#applicants_table").DataTable({
                 retrieve: true
             });
        });
        
        function load_details(name,email,id,marks,authorization,testStatus){
            ///loading data 
            $("#details_modal_name").text(name);
            $("#details_modal_email").text(email);
            $("#details_modal_id").text(id);
            $("#details_modal_marks").text(marks);
            $("#details_modal_auth").text(authorization);
            $("#details_modal_testSt").text(testStatus);
            
            //now configuring button => settting href attr to <a> tag
            $("#details_modal_view_btn").attr('href',"/ViewApplicant/"+id);
            $("#details_modal_edit_btn").attr('href',"/EditApplicant/"+id);
            //$("#details_modal_remove_btn").attr('href',"/RemoveApplicant/"+id);
            
            $("#details_modal_authorize_btn").attr('href'," ");
            $("#details_modal_test_btn").attr('href'," ");
            
            $("#details_modal_remove_btn").click(function(){
                let resume ={
                    _id: id
                }
                $.ajax({
                  method:"DELETE",
                  url:'/api/applicants/'+id,
                  data: resume
                }).done(function(response){
                  //console.log(response);
                  window.location.replace('/Applicants'); 
                return false;
                }).fail(function(response){
                    console.log(response);
                });
            });
            
            $("#details_modal_authorize_btn").click(function(){
                console.log("clicked");
                     var resumee = {};
        
                     resumee.testStatus = "Pending";
                     resumee.authorization = "Yes"; 
                     
                     
                     $.ajax({
                          method:"PUT",
                          url:'/api/applicants/edit/'+id,
                          data: resumee
                        }).done(function(response){
                          //console.log(response);
                          window.location.replace("/Applicants");
                        return false;
                        }).fail(function(response){
                            console.log(response);
                        });
           
                
            });
            
        }

         
      
             
             
         
       
        
        
    </script>

