<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/style.css">
    <link rel="stylesheet" href="/vendor/css/glyphicons.css">
    <link rel="stylesheet" href="/css/CreateArticle.css" crossorigin="anonymous">
    <title>Article</title>
</head>

<body>
   <% include include/RecHeader %>
    <!-- /* CONTAINER START */ -->
    <div class="main" id="main">
        <div class="container" id="container">

            <div class="title jumbotron" id="jumbotron">
                <!-- used title to reduce extra padding on top of  CREATE NEW CANDIDATE -->
                <div class="title jumbotron p-2 bg-secondary">
                    <!--<h3 class="title display-5 py-2 text-white">View <%=request.client.contactName%> </h3>-->
                </div>
                
                 <div class="form-row" id="">
                    <div class="sub col-sm-12  mt-4">
                        <h2 class="sub title2 display-5">Article Information</h2>
                    </div>
                    <div class="col-sm-8" >
                        <input type="text" class="b form-control mt-2 textbox" placeholder="Article Name" id="articleName" value=<%=request.article.articleName%>>
                        <input type="text" class="form-control mt-2 textbox" placeholder="Title" id="title" value=<%=request.article.title%>>
                        <input type="text" class="form-control mt-2 textbox" placeholder="Content" id="content" value=<%=request.article.content%>>
                        <!--<input type="text" class="b form-control mt-2 textbox" placeholder="Source" id="source" value=<%=request.client.source%>>-->
                </div>
                </div>
                

                <div class="form-row" id="">
                    <div class="sub col-sm-12  mt-4">
                        <h2 class="sub title2 display-5">Article</h2>
                    </div>
                    <div class="col-sm-8" >
                        
                         <label for="comment"></label>
                      <textarea class="form-control" rows="5" placeholder="Article" id="article" value=<%=request.article.article%>></textarea>
                      </div>
                        </div>
                <div class="row mt-4">
                    <div class=" save col-sm-12 bg-secondary ">
                        <!--<form class="Savebtn form-inline my-2 my-lg-0 float-right ">-->
                            <button class="saveb btn btn-primary-success m-1 m-sm-2 button" type="submit" id="edit">Edit</button>
                            <button class="btn btn-primary-success m-1 m-sm-2 button" type="submit" id="print">Print</button>
                            <button class="btn btn-primary-success m-1 m-sm-2 button" type="submit" id="back">Back</button>
                        <!--</form>-->
                    </div>
                </div>
            </div>

        </div>
    </div>

      <script src="/vendor/js/jquery-3.3.1.js"></script>
    <script type="/vendor/text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/js/script.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0.3)";
            document.getElementById("container").style.backgroundColor = "#B2B2B2";
        }
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "#F0F1F6";
            document.getElementById("container").style.backgroundColor = "#F0F1F6";
        }
        $(document.getElementById("main")).click( function() {
          closeNav();
        });
        var id = <%- JSON.stringify(request.article._id) %>;
        console.log(id);
        $('#edit').click(function(){
            window.location.replace("/EditClient/"+id);  
        });
        $('#back').click(function(){
            window.location.replace('/Clients'); 
                
        });


    </script>

</body>

</html>
