
<br>
  <h3>List of Seached Applicants</h3>
  <p><%=resumee.length%> Match Found!</p>
    <% for(var i=0; i<resumee.length; i++) { %>
    <div> <a href="/ViewApplicant/<%=resumee[i]._id%>"> <%= resumee[i].fname %> <%= resumee[i].lname %></a></div>
    <p> Title: <%= resumee[i].title%> <br>
    Email: <%= resumee[i].email%> <br>
    Company: <%= resumee[i].company%></p>
    <hr>
    <% } %>
<!--   <!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <title>Bootstrap Example</title>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--<div class="a">-->
<!--    <h3>List of Seached Applicants</h3>-->
<!--          <p><%=resumee.length%> Match Found!</p>-->
<!--  <table class="table table-hover">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Title</th>-->
<!--        <th scope="col">Company</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <% for(var i=0; i<resumee.length; i++) { %>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td><a href="/ViewApplicant/<%=resumee[i]._id%>"> <%= resumee[i].fname %> <%= resumee[i].lname %></a></td>-->
<!--        <td><%= resumee[i].title%> <br></td>-->
<!--        <td><%= resumee[i].company%></p></td>-->
<!--      </tr>-->
     
<!--    </tbody>-->
<!--  </table>-->
<!-- <% } %>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
